astroid==2.9.3
attrs==21.4.0
bleach==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.10
commonmark==0.9.1
coverage==6.4.2
docutils==0.18.1
idna==3.3
importlib-metadata==4.11.4
iniconfig==1.1.1
isort==5.10.1
keyring==23.6.0
lazy-object-proxy==1.7.1
mccabe==0.6.1
packaging==21.3
pkginfo==1.8.3
platformdirs==2.5.0
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
Pygments==2.12.0
pylint==2.12.2
pyparsing==3.0.7
pytest==6.2.5
pytest-cov==3.0.0
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
six==1.16.0
toml==0.10.2
tomli==2.0.1
twine==4.0.1
typing-extensions==4.0.1
urllib3==1.26.8
webencodings==0.5.1
wrapt==1.13.3
zipp==3.8.0
